[submodule "3rd_Party/gtest/googletest"]
	path = 3rd_Party/gtest/googletest
	url = https://github.com/google/googletest.git
[submodule "3rd_Party/thrift"]
	path = 3rd_Party/thrift
	url = https://github.com/apache/thrift.git
[submodule "3rd_Party/jsoncpp"]
	path = 3rd_Party/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "3rd_Party/cpprestsdk"]
	path = 3rd_Party/cpprestsdk
	url = https://github.com/Microsoft/cpprestsdk
[submodule "3rd_Party/wxwidgets/wxWidgets"]
	path = 3rd_Party/wxwidgets/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
[submodule "3rd_Party/libunwind/libunwind"]
	path = 3rd_Party/libunwind/libunwind
	url = https://github.com/libunwind/libunwind
[submodule "3rd_Party/boost/boost"]
	path = 3rd_Party/boost/boost
	url = https://github.com/boostorg/boost.git
[submodule "3rd_Party/redis/redis"]
	path = 3rd_Party/redis/redis
	url = https://github.com/redis/redis.git
[submodule "3rd_Party/cpp-btree/cpp-btree"]
	path = 3rd_Party/cpp-btree/cpp-btree
	url = https://github.com/diegocaro/cpp-btree.git
[submodule "3rd_Party/brpc/incubator-brpc"]
	path = 3rd_Party/brpc/incubator-brpc
	url = https://github.com/apache/incubator-brpc.git
[submodule "3rd_Party/gflags/gflags"]
	path = 3rd_Party/gflags/gflags
	url = https://github.com/gflags/gflags.git
[submodule "3rd_Party/crc32c/crc32c"]
	path = 3rd_Party/crc32c/crc32c
	url = https://github.com/google/crc32c.git
[submodule "3rd_Party/leveldb/leveldb"]
	path = 3rd_Party/leveldb/leveldb
	url = https://github.com/google/leveldb.git
[submodule "3rd_Party/jemalloc/jemalloc"]
	path = 3rd_Party/jemalloc/jemalloc
	url = https://github.com/jemalloc/jemalloc.git
[submodule "3rd_Party/protobuf/protobuf"]
	path = 3rd_Party/protobuf/protobuf
	url = https://github.com/protocolbuffers/protobuf.git
[submodule "3rd_Party/snappy/snappy"]
	path = 3rd_Party/snappy/snappy
	url = https://github.com/google/snappy.git
[submodule "3rd_Party/zstd/zstd"]
	path = 3rd_Party/zstd/zstd
	url = https://github.com/facebook/zstd.git
[submodule "3rd_Party/zlib/zlib"]
	path = 3rd_Party/zlib/zlib
	url = https://github.com/madler/zlib.git
